
#page {
    display: flex;
    flex-direction: row;
}

.sider {
    float: left;
    flex: 0 0 200px;
}

 .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
  }
  
 .trigger:hover {
    color: #1890ff;
  }
  
   .logo {

    height: 32px;
    color: #fff;
    font-size: 20px;
    margin: 16px;
  }

  .site-layout {
    display: flex;
    -ms-flex: auto;
    flex: auto;
    -ms-flex-direction: column;
    flex-direction: column;
    background: salmon;
    width: calc(100% - 200px);
    position: absolute;
    top: 0;
    right: 0;

  }


  .ant-layout-header {
    height: 64px;
    padding: 0 15px;
    color: rgba(0, 0, 0, 0.85);
    line-height: 64px;
    background: #fff  !important;
}

  .site-layout .site-layout-background {
    background: #fff;
  }
